<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Infromación de Tuberculosis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">  
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container container-fluid">

      <center><h1>Bienvenidos</h1></center>


      <div class="contenido">
        <br>
        <div class="table-responsive">
          <div class="botonera">
            <a href="nuevoPaciente.html" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> Nuevo</a>
          </div>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th>Fecha</th>
                <th>Trimestre</th>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>
                  <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>
                  <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>123</td>
                <td>
                  <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7" class="text-right">
                  Página 1 de <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="img">
        <img src="img/tb.jpg">
      </div>
      <hr>
      <center><p id="foot">
          Sistema desarrollado por los alumnos de la ficha 628867 del SENA (CDTI)
        </p></center>
    </div>
  </body>
</html>