#mvcMain {
  display: none;
}

#mvcIcon {
  display: block;
}

.shfDevelopmentBar {
  background-color: rgb(61,35,0);
  position: fixed;
  right: 0px;
  color: #ffffff;
  /*width: 500px;*/
  z-index: 2147483647;
  padding: 3px 3px 3px 5px;
  border-radius: 0px 0px 0px 5px;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
  top: 0px;
}

.mvcPointer {
  cursor: pointer;
}